body {
    margin: 0;
}

* {
    scroll-behavior: smooth;
}
nav {
    /* border: 2px solid blue; */
    height: 4vmax;
    
    display:flex;
    box-shadow:0 0 10px black;
    position: sticky;
    top: 0%;
    background-color: rgb(240, 240, 240);
    z-index: 10000;
}

.left {

    /* border: 2px solid red; */
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left>a {
    text-decoration: none;
    color: crimson;
    font-size: 2vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}
.mid {
    /* border: 2px solid green; */
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}   
.mid > a {
    text-decoration: none;
    color: rgba(29, 13, 22, 0.927);
    /* border: 1px solid blue; */

    width:100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size:20px;
}
.mid>a:hover {
    border-bottom: 2px solid red;
    color: crimson;
}

.right {
    /* border: 2px solid rgb(211, 226, 12); */
    width: 20%;
    display: flex;
    justify-content: center;
    
}

.right>img {
    width: 3vmax;
    margin: 1vmax;
    cursor: pointer;
}
.home {
    /* border: 2px solid red; */
   display: flex;
   height: 90vh;
   background-image: linear-gradient(
    to right,
    rgb(234, 234, 78),
    rgb(122, 122, 252));
}

 .container {
    width: 100%;
    /* border: 1px solid rgb(68, 247, 3); */
   
}
#rightContainer {
    display: flex;
    justify-content:flex-end;
}

#rightContainer > img {
    margin-right: 6vmax;
    filter: drop-shadow(0 0 10px black);
    padding: 30px;
    
}

#leftContainer {
    display: flex;
    flex-direction: column;
    padding: 3vmax;
    justify-content: center;
    box-sizing: border-box;
}

#leftContainer > h1 {

    font-size: 4vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* border: 1px solid red; */
} 
#leftContainer > h2 {
    margin-top:-5%;
    font-size: 2vmax;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     /* border: 1px solid red; */
}

#leftContainer > p {
    font-size:1vmax;
    margin-left:2%;
    margin-top:1%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     /* border: 1px solid red; */
}

#leftContainer > button {
    width:10vmax;
    padding: 0.7vmax;
    border: none;
    border-radius:2vmax;
    background-color: rgb(234, 23, 23);
    color: white;
    cursor: pointer;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left:2%;
}
#leftContainer > button:hover {
    background: green;
}


#products > h1 {

    /* color: red; */
    text-align: center;
    margin: 5vmax auto;
    font-size:2.5vmax ;
    border-bottom: 5px solid  crimson;
    width: 25vw;
    padding: 1vmax;
}

.productContainer {
    display: flex;
    flex-wrap: wrap;
    /* background-color:aqua; */
    /* border: 2px solid greenyellow; */
    height:100%;
    max-width: 80vw;
    margin: auto;
    
    justify-content: center;
}
/* ------------------------------ */

.product {
    /* border: 2px solid red; */
    
    transition: all 0.3s;
    width: 22vmax;
    height: 25vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.product>img {
    /* border: 2px solid red; */
    width: 20vmax;
    height: 25vmax;
    padding: 10px;
}

.product>h4 {
    margin: 2%;
}
.product>h5 {
    margin: 0;
}

.product:hover {
    transform: translateY(-10px);
    box-shadow:0 0 15px black;
}

footer {
    /* height: 10vmax; */
    background-color: rgb(41, 40, 40);
    margin-top: 20vmax;
    color: white;
    display: flex;
    padding: 5vmax;
}

.leftFooter {
    width: 20%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}
.leftFooter>img {
    width: 10vmax;
}
.leftFooter>h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.leftFooter>p {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.midFooter {
    width: 60%;
    /* border: 2px solid white; */
    text-align: center;
}

.midFooter>h1 {
    font-size: 4vmax;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}
.midFooter>p {
    max-width: 60%;
    margin: 1vmax auto;
}

.rightFooter {
    width: 20%;
    /* border: 2px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.rightFooter >h4 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5vmax;
    text-decoration: underline;
}
.rightFooter>a {
    color: white;
    text-decoration: none;
    margin: 0.5vmax;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}




